body {
  font-family: 'Bebas Neue', sans-serif;
  color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', sans-serif;
}

#paragraph {
  font-size: 1.25em;
  color: black;

  text-align: LEFT;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
#header {
  height: 50px;
  margin-top: 0px;
  z-index: 997;
  background: black;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar > ul > li + li {
  margin-left: 30px;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 10px 20px;
  font-size: 14px;
  color: yellow;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

#raccoon {
  width: 100%;
  height: calc(100vh - 70px);
  background: url('assets/background.jpg') center center;
  box-sizing: border-box;
  position: relative;
  margin-top: 0px;
  padding: 0;
}

@media (min-width: 1024px) {
  #raccoon {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #raccoon {
    margin-top: 60px;
    height: calc(100vh - 60px);
  }
}
